.edit_item{
	display: inline-block;
	width:150px;
	margin:15px;
}

#edit_field{
	width: 600px;
	margin-left:100px;
	padding:10px;
	margin-top: 30px;
	position: relative;
	right:50px;
}

.sub_btn{
	background-color: #6daceb;
}
.del_btn1{
	color: #6daceb;
	background-color:#ffffff;
}
.sub_btn:hover{
	background-color: #6daceb;
}

.sub_btn:focus{
	background-color: #6daceb;
}

.del_btn1:hover{
	color:#6daceb;
	background-color: #ffffff;
}

.del_btn1:focus{
	color:#6daceb;
	background-color: #ffffff;
}

.item{
	background-color:#6daceb;
	height:40px;
	line-height: 30px;
	padding-left:20px;
	width:80px;
	color:#ffffff;
}

.a_title>div{
	padding:8px 18px;
	margin-left:-4px;
	display: inline-block;

}

.card_edit{
	width: 170px;
	position: relative;


}

.card_in_edit{
	padding-left: 30px;
	padding-top: 50px;
}
.card_in_edit>li{
	margin: 8px;
}
.header_name_edit{
	position: relative;
	font-size: 25px;
	padding-left: 330px;
	padding-top: 120px;
}
.edit_form{
	position:relative;
	left: 300px;

}

.collection>a{
	text-align: center;
	padding-left: 20px;
}
.a_title{
	position: relative;
	left: 350px;
	width: 670px;
}
